In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('netflix_titles.csv', encoding='ISO-8859-1')

In [3]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
Unnamed: 12     8809
Unnamed: 13     8809
Unnamed: 14     8809
Unnamed: 15     8809
Unnamed: 16     8809
Unnamed: 17     8809
Unnamed: 18     8809
Unnamed: 19     8809
Unnamed: 20     8809
Unnamed: 21     8809
Unnamed: 22     8809
Unnamed: 23     8809
Unnamed: 24     8809
Unnamed: 25     8809
dtype: int64

In [5]:
df.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df=df[['title','director','cast','country']]

In [7]:
df.head()

,title,director,cast,country
0,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States
1,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa
2,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN
3,Jailbirds New Orleans,NaN,NaN,NaN
4,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India

In [8]:
df.dropna(inplace=True)

In [9]:
df.isnull().sum()

title       0
director    0
cast        0
country     0
dtype: int64

In [10]:
df.head()

,title,director,cast,country
7,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin..."
8,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom
9,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States
12,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis NiewÃ¶hner, Milan Peschel,...","Germany, Czech Republic"
24,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India

In [11]:
df.duplicated().sum()

np.int64(2)

In [12]:
df.drop_duplicates(inplace=True)

In [13]:
df.duplicated().sum()

np.int64(0)

In [14]:
df.head()

,title,director,cast,country
7,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin..."
8,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom
9,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States
12,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis NiewÃ¶hner, Milan Peschel,...","Germany, Czech Republic"
24,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India

In [15]:
def convert(obj):
  l=[]
  for i in obj.split(','):
    l.append(i)
  return l

In [16]:
df['cast']=df['cast'].apply(convert)

In [17]:
df.head()

,title,director,cast,country
7,Sankofa,Haile Gerima,"[Kofi Ghanaba, Oyafunmike Ogunlano, Alexandr...","United States, Ghana, Burkina Faso, United Kin..."
8,The Great British Baking Show,Andy Devonshire,"[Mel Giedroyc, Sue Perkins, Mary Berry, Pau...",United Kingdom
9,The Starling,Theodore Melfi,"[Melissa McCarthy, Chris O'Dowd, Kevin Kline...",United States
12,Je Suis Karl,Christian Schwochow,"[Luna Wedler, Jannis NiewÃ¶hner, Milan Pesch...","Germany, Czech Republic"
24,Jeans,S. Shankar,"[Prashanth, Aishwarya Rai Bachchan, Sri Laks...",India

In [18]:
df['country']=df['country'].apply(convert)

In [19]:
df.head()

,title,director,cast,country
7,Sankofa,Haile Gerima,"[Kofi Ghanaba, Oyafunmike Ogunlano, Alexandr...","[United States, Ghana, Burkina Faso, United..."
8,The Great British Baking Show,Andy Devonshire,"[Mel Giedroyc, Sue Perkins, Mary Berry, Pau...",[United Kingdom]
9,The Starling,Theodore Melfi,"[Melissa McCarthy, Chris O'Dowd, Kevin Kline...",[United States]
12,Je Suis Karl,Christian Schwochow,"[Luna Wedler, Jannis NiewÃ¶hner, Milan Pesch...","[Germany, Czech Republic]"
24,Jeans,S. Shankar,"[Prashanth, Aishwarya Rai Bachchan, Sri Laks...",[India]

In [20]:
df['director']=df['director'].apply(convert)

In [21]:
#df['title']=df['title'].apply(lambda x:x.split())

In [22]:
#df['title']=df['title'].apply(lambda x:[i.replace(" ","") for i in x])
df['cast']=df['cast'].apply(lambda x:[i.replace(" ","") for i in x])
df['country']=df['country'].apply(lambda x:[i.replace(" ","") for i in x])
df['director']=df['director'].apply(lambda x:[i.replace(" ","") for i in x])

In [23]:
df.head()

,title,director,cast,country
7,Sankofa,[HaileGerima],"[KofiGhanaba, OyafunmikeOgunlano, AlexandraDua...","[UnitedStates, Ghana, BurkinaFaso, UnitedKingd..."
8,The Great British Baking Show,[AndyDevonshire],"[MelGiedroyc, SuePerkins, MaryBerry, PaulHolly...",[UnitedKingdom]
9,The Starling,[TheodoreMelfi],"[MelissaMcCarthy, ChrisO'Dowd, KevinKline, Tim...",[UnitedStates]
12,Je Suis Karl,[ChristianSchwochow],"[LunaWedler, JannisNiewÃ¶hner, MilanPeschel, E...","[Germany, CzechRepublic]"
24,Jeans,[S.Shankar],"[Prashanth, AishwaryaRaiBachchan, SriLakshmi, ...",[India]

In [24]:
df['tags']=df['director']+df['cast']+df['country']

In [25]:
df.head()

,title,director,cast,country,tags
7,Sankofa,[HaileGerima],"[KofiGhanaba, OyafunmikeOgunlano, AlexandraDua...","[UnitedStates, Ghana, BurkinaFaso, UnitedKingd...","[HaileGerima, KofiGhanaba, OyafunmikeOgunlano,..."
8,The Great British Baking Show,[AndyDevonshire],"[MelGiedroyc, SuePerkins, MaryBerry, PaulHolly...",[UnitedKingdom],"[AndyDevonshire, MelGiedroyc, SuePerkins, Mary..."
9,The Starling,[TheodoreMelfi],"[MelissaMcCarthy, ChrisO'Dowd, KevinKline, Tim...",[UnitedStates],"[TheodoreMelfi, MelissaMcCarthy, ChrisO'Dowd, ..."
12,Je Suis Karl,[ChristianSchwochow],"[LunaWedler, JannisNiewÃ¶hner, MilanPeschel, E...","[Germany, CzechRepublic]","[ChristianSchwochow, LunaWedler, JannisNiewÃ¶h..."
24,Jeans,[S.Shankar],"[Prashanth, AishwaryaRaiBachchan, SriLakshmi, ...",[India],"[S.Shankar, Prashanth, AishwaryaRaiBachchan, S..."

In [26]:
new_df=df[['title','tags']]

In [27]:
new_df.head()

,title,tags
7,Sankofa,"[HaileGerima, KofiGhanaba, OyafunmikeOgunlano,..."
8,The Great British Baking Show,"[AndyDevonshire, MelGiedroyc, SuePerkins, Mary..."
9,The Starling,"[TheodoreMelfi, MelissaMcCarthy, ChrisO'Dowd, ..."
12,Je Suis Karl,"[ChristianSchwochow, LunaWedler, JannisNiewÃ¶h..."
24,Jeans,"[S.Shankar, Prashanth, AishwaryaRaiBachchan, S..."

In [28]:
new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

In [29]:
new_df['tags']

7       HaileGerima KofiGhanaba OyafunmikeOgunlano Ale...
8       AndyDevonshire MelGiedroyc SuePerkins MaryBerr...
9       TheodoreMelfi MelissaMcCarthy ChrisO'Dowd Kevi...
12      ChristianSchwochow LunaWedler JannisNiewÃ¶hner...
24      S.Shankar Prashanth AishwaryaRaiBachchan SriLa...
                              ...
8804    RubenFleischer JesseEisenberg WoodyHarrelson E...
8805    PeterHewitt TimAllen CourteneyCox ChevyChase K...
8806    MozezSingh VickyKaushal Sarah-JaneDias Raaghav...
8807    YeonSang-ho ShinHyun-been JeonYeo-bin GooKyo-h...
8808    SusanneBier BradleyCooper JenniferLawrence Tob...
Name: tags, Length: 5336, dtype: object

In [30]:
new_df.head()

,title,tags
7,Sankofa,HaileGerima KofiGhanaba OyafunmikeOgunlano Ale...
8,The Great British Baking Show,AndyDevonshire MelGiedroyc SuePerkins MaryBerr...
9,The Starling,TheodoreMelfi MelissaMcCarthy ChrisO'Dowd Kevi...
12,Je Suis Karl,ChristianSchwochow LunaWedler JannisNiewÃ¶hner...
24,Jeans,S.Shankar Prashanth AishwaryaRaiBachchan SriLa...

In [31]:
new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

In [32]:
new_df.head()

,title,tags
7,Sankofa,hailegerima kofighanaba oyafunmikeogunlano ale...
8,The Great British Baking Show,andydevonshire melgiedroyc sueperkins maryberr...
9,The Starling,theodoremelfi melissamccarthy chriso'dowd kevi...
12,Je Suis Karl,christianschwochow lunawedler jannisniewã¶hner...
24,Jeans,s.shankar prashanth aishwaryaraibachchan srila...

In [33]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')

In [34]:
vectors=cv.fit_transform(new_df['tags']).toarray()

In [35]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], shape=(5336, 5000))

In [36]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], shape=(5000,))

In [37]:
cv.get_feature_names_out()

array(['50cent', 'aakashdabhade', 'aamirbashir', ..., 'ztã¼rk', 'zãºã',
       'zä'], shape=(5000,), dtype=object)

In [38]:
import nltk

In [39]:
from nltk import PorterStemmer
ps=PorterStemmer()

In [40]:
def stem(text):
  l=[]
  for i in text.split():
    l.append(ps.stem(i))
  return " ".join(l)

In [41]:
new_df['tags']=new_df['tags'].apply(stem)

In [42]:
new_df.head()

,title,tags
7,Sankofa,hailegerima kofighanaba oyafunmikeogunlano ale...
8,The Great British Baking Show,andydevonshir melgiedroyc sueperkin maryberri ...
9,The Starling,theodoremelfi melissamccarthi chriso'dowd kevi...
12,Je Suis Karl,christianschwochow lunawedl jannisniewã¶hn mil...
24,Jeans,s.shankar prashanth aishwaryaraibachchan srila...

In [43]:
from sklearn.metrics.pairwise import cosine_similarity

In [44]:
similarity=cosine_similarity(vectors)

In [45]:
def recommend(movie):
  movie_index=new_df[new_df['title']==movie].index[0]   # movie search
  distances=similarity[movie_index] # movie similarity search
  movies_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]  # sorting ; enumerate -> tuple
  for i in movies_list:
    print(new_df.iloc[i[0]].title)

In [46]:
recommend('The Starling')

Jaws 2
If I Leave Here Tomorrow: A Film About Lynyrd Skynyrd
A Champion Heart
Janoskians: Untold and Untrue
Snervous Tyler Oakley

In [47]:
recommend('Once Upon a Time in Mumbaai')

If I Leave Here Tomorrow: A Film About Lynyrd Skynyrd
A Champion Heart
Janoskians: Untold and Untrue
Snervous Tyler Oakley
The Old Ways

In [48]:
recommend('Naruto the Movie: Ninja Clash in the Land of Snow')

The Kindergarten Teacher
If I Leave Here Tomorrow: A Film About Lynyrd Skynyrd
A Champion Heart
Janoskians: Untold and Untrue
Snervous Tyler Oakley

In [49]:
import pickle

In [52]:
pickle.dump(new_df,open('movie.pkl','wb'))

In [54]:
pickle.dump(new_df.to_dict(),open('movie_dict.pkl','wb'))

In [55]:
pickle.dump(similarity,open('similarity.pkl','wb'))